* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  background-color: rgb(44, 49, 60);
  font-family: 'Poppins', sans-serif;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto 50px auto;
}

.search-box {
  position: relative;
  margin-top: 10px;
  width: 100%;
}

.query {
  width: 100%;
  padding: 10px;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: 16px;
  padding-left: 32px;
  background-color: rgb(44, 49, 60);
  color: white;
  border: 1px solid #5f6368;
}

.query:focus {
  box-shadow: 0 0 10px rgb(35, 39, 46);
}

.icons {
  position: absolute;
  top: 11px;
  left: 10px;
}

.button-container {
  margin-top: 20px;
}

.search-button {
  padding: 15px 35px;
  border: none;
  background-color: rgb(25, 29, 36);
  border-radius: 0.5rem;
  cursor: pointer;
  color: white;
  font-size: 0.9rem;
  transition: 0.3s all;
  opacity: 0.8;
  font-size: 1.6rem;
}

.search-button:hover {
  opacity: 1;
}

.links {
  width: 80%;
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  width: 100%;
  gap: 1rem;
}

.card-container h2 {
  margin-top: 0;
  color: white;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.card {
  background-color: rgb(35, 39, 46);
  border-radius: 1rem;
  height: 120px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgb(35, 39, 46);
}

.card img {
  max-width: 80px;
  transition: 0.2s ease-in-out;
}

.card .image-bigger {
  max-width: 120px;
}

.card-container:hover img {
  transform: scale(1.1);
}

@media (min-width: 726px) {
  .links {
    flex-direction: row;
  }
}

footer {
  text-align: center;
  color: white;
  background-color: rgb(35, 39, 46);
  margin-top: 10px;
  padding: 20px;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: none;
}

footer img {
  width: 25px;
}

.author {
  color: #64ffda;
  font-weight: bold;
}

@media (min-width: 568px) {
  .card-container {
    width: calc(50% - 1rem);
  }
}

@media (min-width: 768px) {
  .card-container {
    width: calc(33.33% - 1rem);
  }
}

@media (min-width: 1024px) {
  .card-container {
    width: calc(20% - 2rem);
  }
}
